
/* 主字体 */
@font-face {
    font-family: "MiSans";
    src: url('@/assets/font/MiSansNormal.ttf') format('truetype');
}

/* LED字体 */
@font-face {
    font-family: "Open24DisplaySt";
    src: url('@/assets/font/Open24DisplaySt.ttf') format('truetype');
}