:root {
  --def-color: #80c8f8;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #FFFFFF;
  background: #d2d2d2;
  user-select: none;
  /*火狐*/
  -moz-user-select: none;
  /*webkit浏览器*/
  -webkit-user-select: none;
  /*IE10*/
  -ms-user-select: none;
  /*早期浏览器*/
  -khtml-user-select: none;
  /** 鼠标指针 **/
  cursor: url('@/assets/img/cursor/common.cur'), default;
}

a, li, button{
  cursor: url('@/assets/img/cursor/link-select.cur'), auto;
}
a{
  color: #FFFFFF;
  text-decoration: none;
}
input, textarea{
  cursor: url('@/assets/img/cursor/txt-select.cur'), text;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


/** pc端 **/
@media screen {

  /* 滚动条的宽度 */
  /* ::-webkit-scrollbar {
    width: 5px;
    height: 1px;
  } */

  /* 滚动条的滑块 */
  /* ::-webkit-scrollbar-thumb {
    background-color: #5272df;
    border-radius: 10px;
  } */

  /* 滚动条的整个盒子背景色 */
  /* ::-webkit-scrollbar-track {
    background-color: #bd6ae0;
    border-radius: 10px;
  } */

}

/** 移动端 **/
@media handheld {}