* {
    margin: 0;
    padding: 0;
}

#app{
    height: 100vh;
    width: 100vw;
    background: #ffffff;
}

#page-lode {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.dot {
    display: inline-block;
    height: 1rem;
    line-height: 1rem;
    text-align: left;
    vertical-align: -.25em;
    overflow: hidden;
}

.dot::before {
    display: block;
    content: '···\A··\A·';
    white-space: pre-wrap;
    animation: dot 1s infinite step-start both;
}

@keyframes dot {
    33% {
        transform: translateY(-2em);
    }

    66% {
        transform: translateY(-1em);
    }
}